.addProductContainer{
    margin: 0 0 0 10%;
    height: 100vh;
    overflow-y: scroll;
}

.topBar{
    padding: 2% 5%;
    font-size: 20px;
    color: lightgrey;
    background-color: rgb(163, 122, 45);
}

.formHouse{
    padding: 3% 10% 2% 10%;
}

.formContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form1, .form2{
    width: 47%; 
}

.inputContainer{
    margin: 3% 0;
}

.inputContainer input[type='text'], .inputContainer select{
    width: 100%;
    height: 50px;
    padding: 0 0 0 3%;
    border-radius: 8px;
    border: 1px solid rgb(163, 122, 45);
    outline: none;
}

.inputContainer select{
    width: 100%;
}

.inputContainer input[type="file"]{
    margin: 0 0 0 0;
}

.inputContainer label{
    color: grey;
}

.inputContainer textarea{
    width: 100%;
    height: 20vh;
    padding: 1% 3%;
    border-radius: 8px;
    border: 1px solid rgb(163, 122, 45);
    outline: none;
}

.addBtn{
    width: 100%;
    height: 60px;
    margin: 2% 0 0 0;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}