.itemContainer{
    display: flex;
    flex-direction: row;
    width: 70%;
    padding: 0 0;
    margin: 7% 15% 0 15%;
}

.imgContainer{
    width: 40%;
    padding: 5% 5%;
}

.imgDiv{
    position: relative;
    width: 100%;
    height: 40vh;
}

.prodDescriptionContainer{
    padding: 2% 5%;
}

.prodHeader{
    color: blue;
    font-weight: 500;
    font-size: 20px;
}

.stars{
    margin: 1% 0;
}

.cost{
    display: flex;
    flex-direction: row;
    margin: 5% 0;
}

.price{
    font-size: 25px;
    font-weight: 600;
    margin: -1% 0 0 0;
}

.brand{
    font-size: 18px;
    color: rgb(78, 78, 78);
    margin: 1.5% 0;
}

.availability{
    font-size: 18px;
    color: rgb(78, 78, 78);
    margin: 1.5% 0;
}

.availability span{
    color: orange;
    font-weight: 700;
}

.briefDescription{
    font-size: 18px;
    color: rgb(78, 78, 78);
    margin: 5% 0;
}

.quantity{
    font-size: 18px;
    color: rgb(78, 78, 78);
}

.quantityCount{
    border: 1px solid grey;
    width: 30%;
    font-size: 24px;
    padding: 1% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quantityCount span{
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.addToCartContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 0;
}

.addToCartBtn, .buyNowBtn{
    width: 47%;
    padding: 2% 0;
    color: white;
    font-size: 16px;
    background-color: orange;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid orange;
}

.buyNowBtn{
    background-color: green;
    border: 1px solid green;
}

.descriptionContainer{
    padding: 0 10%;
    margin: 5% 0;
}

.descriptionHeader{
    font-size: 28px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}

.mainDescription{
    font-size: 18px;
    color: rgb(78, 78, 78);
    margin: 1% 0 2% 0;
}

.productGrid{
    padding: 1% 0;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-between;
}

.gridItem{
    background-color: white;
    height: 42vh;
    text-align: center;
    padding: 5% 0;
    cursor: pointer;
    margin: 0 0;
}

.prodImage{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    position: relative;
}

.gridItem:hover{
    background-color: rgb(248, 245, 245);
}

.productsName{
    font-weight: 400;
    color: black;
    font-size: 16px;
    text-align: left;
    width: 90%;
    margin: 3% 5%;
}

.featuredCost{
    color: black;
    font-size: 16px;
    text-align: left;
    width: 90%;
    margin: 3% 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.featuredPrice{
    font-weight: 600;
    font-size: 16px;
}

.cartBtn{
    background-color: orange;
    padding: 2% 0;
    color: white;
    width: 90%;
    border: 1px solid orange;
    margin: 2% 5%;
    border-radius: 10px;
    display: none;
}

.gridItem:hover > .cartBtn{
    display: block;
}

@media only screen and (max-width: 1000px) {
    .itemContainer{
        display: block;
        width: 100%;
        padding: 0 0;
        margin: 15% 0 0 0;
    }

    .imgContainer{
        width: 100%;
    }

    .quantityCount{
        width: 50%;
    }

    .addToCartBtn, .buyNowBtn{
        padding: 4% 0;
    }

    .descriptionContainer{
        padding: 0 5%;
    }

    .productGrid{
        display: block;
    }

    .gridItem{
        background-color: rgb(248, 245, 245);
        margin: 5% auto;
        width: 75%;
        height: 100%;
        padding: 5% 0 2% 0;
    }

    .cartBtn{
        display: block;
    }
}