.navContainer{
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: orange;
    color: white;
    padding: 0 0 0 0;
}

.adminHeader{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin: 30% 0 60% 0;
}

.list, .activeList{
    font-weight: 18px;
    margin: 0 0 15% 0;
    text-align: center;
    cursor: pointer;
    padding: 11% 0;
}

.list:hover, .activeList{
    background-color: rgb(163, 122, 45);
}
