.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    font-size: 14px;
    z-index: 100;
  }
  
  .listContainer{
    display: flex;
    flex-direction: row;
    width: 40%;
    font-weight: 900;
    justify-content: space-between;
    /* padding: 0.5% 0 0 0; */
    align-items: center;
  }

  .hamburger{
    display: none;
  }
  
  .brandName{
    font-family: "Roboto Slab";
    font-weight: 800;
    font-size: 32px;
    color: rgb(5, 112, 5);
  
  }
  
  .list, .listName{
    /* font-family: "satoshi"; */
    font-weight: 600;
    font-size: 16px;
    color: #5f5e5e;
    cursor: pointer;
    position: relative;
  }
  
  .list::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    top: 100%;
    left: 0;
    background-color: orange;
    border-radius: 1px;
    transition: width 1s ease-in;
  }
  
  .list:hover::after{
    width: 100%;
    transition: width 1s ease-in;
  }
  
  .activeList{
    font-weight: 600;
    position: relative;
    font-size: 16px;
    color: #5f5e5e;
    cursor: pointer;
  }
  
  .activeList::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background-color: orange;
    border-radius: 1%;
  }

  .productList{
    position: relative;
  }

  .hideContent{
    display: none;
  }

  .dropdownContent{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(245, 245, 245);
    width: 120px;
    padding: 2% 5%;
    font-size: 14px;
    color: black;
  }

  .dropdownContent div{
    padding: 5% 0 5% 5%;
    cursor: pointer;
    font-weight: light;
  }

  .cartDiv{
    display: flex;
    flex-direction: center;
    align-items: center;
  }

  .cartImage{
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  .navPhone{
    margin: 0 0 0 40px;
    font-size: 16px;
    display: flex;
    color: orangered;
  }

  @media screen and (max-width: 900px){
    .hamburger{
        display: flex;
        align-items: center;
    }

    .listContainer{
        display: none;
    }

    .cartBtn{
        display: none;
    }
  }