
.productContainer{
    margin: 5% 0;
    padding: 1% 5%;
}

.topLine{
    background-color: orange;
    margin: 0 auto;
    width: 45px;
    height: 5px;
}

.productHeader{
    font-size: 3em;
    font-weight: 800;
    color: black;
    margin: 0.5% 0;
    font-family: "Roboto Slab";
    text-align: center;
}

.productGrid{
    padding: 1% 10%;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-between;
}

.gridItem{
    background-color: white;
    height: 45vh;
    text-align: center;
    padding: 5% 0;
    cursor: pointer;
    margin: 0 0 20% 0;
}

@media screen and (max-width: 900px){

    .productGrid{
        padding: 1% 1%;
        display: grid;
        grid-template-columns: 49% 49%;
        justify-content: space-between;
    }
   
    .gridItem{
        background-color:rgb(248, 245, 245);;
        height: 40vh;
        padding: 5% 0 1% 0;
        margin: 0 0 43% 0;
    }

    .productContainer{
        margin: 15% 0;
        padding: 1% 0;
    }

    .productHeader{
        font-size: 2em;
    }    
}